.header {
    height: 100vh;
    background-color: rgba($color-black, .4);
    position: relative;

    &__logo-box {
        text-align: center;
        padding: 3rem 0;
    }

    &__logo {
        height: 12rem;
    }
}